<div class="container">
    <h2>{{ title }}</h2>

    <form (ngSubmit)="submit($event)">
        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput [formControl]="email" (blur)="updateEmailErrorMessage()" required/>
            @if (email.invalid) {
                <mat-error>{{ emailErrorMessage() }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [formControl]="password" [type]="hidePassword()  ? 'password' : 'text'" required/>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)">
                <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>

        <div class="errors">
            @for (error of errors; track error) {
                <mat-error>{{ error }}</mat-error>
            }
        </div>

        <button mat-flat-button matSuffix type="submit">
            @if (submitting) {
                <mat-spinner diameter="30"></mat-spinner>
            } @else {
                {{ submitButtonText }}
            }
        </button>
    </form>

    <div class="content-wrapper">
        <ng-content></ng-content>
    </div>
</div>