@use "@angular/material" as mat;

.container {
  margin: auto;
  max-width: max(50%, 40em);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--mat-sys-corner-large) * 0.5);
  border: 1px solid var(--mat-sys-primary);
  border-radius: var(--mat-sys-corner-large);
  padding: var(--mat-sys-corner-large);
}

mat-form-field {
  flex-grow: 1;
}

button,
.errors {
  flex-basis: 100%;
}

mat-spinner {
  @include mat.progress-spinner-overrides((
          active-indicator-color: var(--mat-sys-surface),
  ));
}

.content-wrapper {
  margin: 0.5em var(--mat-sys-corner-large);
}