$small: 500px;

.container {
  height: 100%;
  display: flex;
  gap: 0.5em;
  flex-direction: column;

  @media screen and (max-width: $small) {
    font-size: 0.8em;
  }
}

.header {
  position: relative;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $small) {
    font-size: 0.9em;
    gap: 0;
  }
}

h2 {
  min-width: 8em;
  text-align: center;
  user-select: none;
}

.fab {
  position: absolute;
  right: 2em;

  @media screen and (max-width: $small) {
    right: 1em;
  }
}

.names {
  display: flex;
  justify-content: space-around;
}

h4 {
  margin: 0 0 0.5em 0;
  text-align: center;
}

.cells {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: min-content;
  user-select: none;
}