.cell {
  cursor: pointer;
  height: 100%;
  border-radius: 0.5em;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

h5 {
  text-align: center;
  margin: auto;
  clip-path: circle();
  padding: 0.3em;
}

.selected {
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-primary);
}

