$small: 550px;
$hoverColor: #cccccc;

.cell {
  cursor: pointer;
  height: 100%;
  border-radius: 0.5em;
  transition: background-color 0.2s;
  overflow-x: hidden;
  overflow-y: auto;

  &:hover {
    background-color: $hoverColor;

    .header {
      background-color: $hoverColor;
    }
  }
}

.header {
  position: sticky;
  top: 0;
  transition: background-color 0.2s;
  background-color: white;
}

h5 {
  margin: 0 0 0.25em 0;
  text-align: center;
  clip-path: circle();
  padding: 0.3em;
  background-color: color-mix(in hsl, white, transparent 25%);

  &.selected {
    color: var(--mat-sys-on-primary);
    background-color: var(--mat-sys-primary);
  }
}

.events {
  max-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 0.25em;

  li:not(:last-child) {
    margin-bottom: 0.2em;
  }
}

.event {
  display: flex;
  align-items: center;
  gap: 0.1em;
  font-size: 0.75em;
  width: 100%;
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  border-radius: 0.25em;
  transition: box-shadow 0.2s, transform 0.2s;

  &:hover {
    box-shadow: 0 0 5px black;
  }
}

.event-title,
.time {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.event-title {
  margin-left: 0.25em;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.time {
  margin-right: 0.25em;
  flex: 0;
  font-size: 0.8em;

  @media screen and (max-width: $small) {
    display: none;
  }
}